parameters:
	ignoreErrors:
		-
			message: '#Anonymous function should return Generator but empty return statement found.#'
			path: src/Adapter/Tornado/EventLoop.php
			count: 1
		-
			message: '#Unreachable statement - code above always terminates\.#'
			path: src/Adapter/Tornado/EventLoop.php
			count: 1
		-
			message: '#Unreachable statement - code above always terminates\.#'
			path: tests/EventLoopTest.php
			count: 3
		-
			identifier: missingType.iterableValue
		-
			identifier: missingType.generics
