parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		-
			message: '#Negated boolean expression is always true\.#'
			path: src/Adapter/Amp/Internal/PromiseWrapper.php
			count: 1
		-
			message: '#Negated boolean expression is always true\.#'
			path: src/Adapter/ReactPhp/Internal/PromiseWrapper.php
			count: 1
		-
			message: '#Anonymous function should return Generator but empty return statement found.#'
			path: src/Adapter/Tornado/EventLoop.php
			count: 1
		-
			message: '#Unreachable statement - code above always terminates\.#'
			path: src/Adapter/Tornado/EventLoop.php
			count: 1
		-
			message: '#Unreachable statement - code above always terminates\.#'
			path: tests/EventLoopTest.php
			count: 3
