<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
  <php>
    <!-- define your env variables for the test env here -->
  </php>
  <listeners>
    <listener class="M6WebTest\Tornado\Adapter\Amp\LoopReset"/>
  </listeners>
  <testsuites>
    <testsuite name="Tornado Test Suite">
      <directory>tests</directory>
    </testsuite>
    <testsuite name="Tornado Examples">
      <directory>examples/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
