<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <!-- define your env variables for the test env here -->
    </php>

    <listeners>
        <listener class="M6WebTest\Tornado\Adapter\Amp\LoopReset" />
    </listeners>

    <testsuites>
        <testsuite name="Tornado Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Tornado Examples">
            <directory>examples/tests</directory>
        </testsuite>
        <testsuite name="Amp">
            <directory>/usr/local/var/www/Tornado/tests/Adapter/Amp/EventLoopTest.php</directory>
        </testsuite>
        <testsuite name="Guzzle">
            <directory>/usr/local/var/www/Tornado/tests/Adapter/Guzzle/HttpClientTest.php</directory>
        </testsuite>
        <testsuite name="ReactPhp">
            <directory>/usr/local/var/www/Tornado/tests/Adapter/ReactPhp/EventLoopTest.php</directory>
        </testsuite>
        <testsuite name="Symfony">
            <directory>/usr/local/var/www/Tornado/tests/Adapter/Symfony/HttpClientTest.php</directory>
        </testsuite>
        <testsuite name="Tornado">
            <file>/usr/local/var/www/Tornado/tests/Adapter/Tornado/EventLoopTest.php</file>
        </testsuite>
        <testsuite name="Tornado Synchronous">
            <file>/usr/local/var/www/Tornado/tests/Adapter/Tornado/SynchronousEventLoopTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
